$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$halloween-background-color: #000000;
$text-color: #000000;
.modal-header {
  color: rgb(175, 2, 2);
}
.modal-body {
  color: red;
}
body {
  background: $halloween-background-color;
}
.btn-Chuy {
  color: rgb(245, 35, 210);
  background-color: black;
  text-align: center;
  border-radius: 60%;
}

.btn-Chuy:hover {
  color: rgb(245, 35, 210);
  background-color: black;
  text-align: center;
  border-radius: 60%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.movieDetails-img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}
